:root{
    --gap: 40px;
    --num-cols:2;
    --row-height:300px; 
    --padding-block: 60px 0px 60px 60px; 
    --padding-div: 0px 10px 0px 150px;
    --margin-left: 10px;
    --font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Element Styling */
body{
    background:linear-gradient(
        90deg,
        #DA22FF,
        #9733EE
        );
}
h1 {
    display: inline-block;
    padding: 5px 50px;
    background-color:#DA22FF;
    color:#B24592;
    font-size: 35px;
    margin-left: var(--margin-left);
    font-family: var (--font-family);
}
header{
    padding:30px;
    background: linear-gradient(
        90deg,
        #B24592,
        #F15F79
        );
}
nav{
    padding-top: 10px;
    margin-right: 30px;
    float: right;
    font-family: var(--font-family);
    font-size: 20px;
}
p{
    font-size: 20px;
    font-family: var(--font-family);
}
ul {
    list-style-type: none;
    margin-left: var(--margin-left);
}

li {
    display: inline-block;
    margin-left: 25px;
}
li:hover{
    text-decoration: underline;
    color:purple;
    cursor:pointer;
}
section{
padding: var(--padding-block);
display:flex;
width: 100%;
}
/* Class Elements Styling */
.background-image{
    height: 250px;
    width: 100%;
    background-image: url("../images/High_resolution_wallpaper_background_ID_77701502032.jpg");
    background-size: cover;
    background-position: center;
}
.content{
    display:flex;
    flex-direction: column;
    width: 90%;
    text-align:justify;
 /* The About Me section styling */
}
.descr{
    margin-left: var(--margin-left);
    border-left: 3px solid purple;
    padding: var(--padding-div);
    width:80%;
    line-height: 1.2;
}
h2{
    font-size: 35px;
    font-family: var(--font-family);
    
}
h3{
    position: absolute;
    top: 300px;
    right: 53px;
    font-size: 25px;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 40px pink,
      0 0 80px pink,
      0 0 90px pink,
      0 0 100px pink,
      0 0 150px pink;
}
/* Styling of the work images section */
.grid{
    padding: var(--padding-div);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap:var(--gap);
    margin-left: var(--margin-left);
    border-left: 3px solid purple;
}

.box > img {
width:100%;
height: 100%;
object-fit: cover;
filter:contrast(65%);
}
.box > img:hover{
    cursor:pointer;
    filter:contrast(100%);
}
#big-image {
    grid-column: span 2;
}
figcaption{
    position: relative;
    bottom: 60px;
    left: 20px;
    width: 200px;
    height: 20px;
    background-color: #fff;
    border: 1px solid transparent;
}
/* Styling of the Contact Me */
.contact{
    padding: var(--padding-block);
    width: 100%;
    
}

.headers{
    width: 14%;
    text-align:right;
}
.contact-links{
    display: flex;
    justify-content: space-around;
    width: 80%;
    border-left: 3px solid purple;
    margin-left: 10px;
    padding:var(--padding-div);
    font-size: 20px;
    font-family: var(--font-family);
}

/* Responsive styling */
@media screen and (max-width:1050px){
p{
    font-size: 15px;
}
h2{
    font-size: 25px;
}
nav{
    font-size: 17px;
}
.contact-links{
    font-size: 13px;
    padding: 0 0 0 30px;
}
.descr{
    padding: 0 0 0 30px;
}
.grid{
    padding: 0 0 0 30px;
}
}
@media screen and (max-width:800px){
figcaption{
    font-size: 15px;
    width: 150px;
}
section{
    display: inline-block;
    padding:0;
}
h2{
    text-align: center;
    padding: 0 0 20px 0;
}
.descr{
    border: transparent;
}
.grid{
    border: transparent;
}
.contact-links{
    border:transparent;
}
nav ul{
    font-size: 14px;
}
    
.headers{
    text-align: center;
    width: 100%;
}
h1{
    font-size: 25px;
    width: 83px;
    padding: 5px;
}
section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-links{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    line-height: 1.5;
}
}
@media screen and (max-width:600px){
.grid{
    display:flex;
    flex-direction: column;
}
.contact-links{
    padding:0;
}
h3{
    font-size: 15px;
}
}